# ─── Django ───────────────────────────────────────────────────────────────────
DJANGO_SECRET_KEY=defrgethryjtujhytgrfwefrbgnhfmgnfgbdfvsd
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=yourdomain.com,www.yourdomain.com,127.0.0.1
DJANGO_CSRF_TRUSTED_ORIGINS=https://yourdomain.com,https://www.yourdomain.com

# ─── MongoDB (Atlas) ────────  ──────────────────────────────────────────────────
# Get this from MongoDB Atlas → Connect → Drivers → Python
# Format: mongodb+srv://<user>:<password>@<cluster>.mongodb.net/?retryWrites=true&w=majority
MONGODB_URI=mongodb+srv://perfecthome223:frgthfygdfsafedgrthngbf6@perfecthome.gydf2kq.mongodb.net/?appName=PerfectHome
MONGODB_DB_NAME=perfecthome

# ─── Contact Info ─────────────────────────────────────────────────────────────
CONTACT_ADDRESS=Tashkent, Uzbekistan
CONTACT_PHONE=+998 (00) 000-00-00
CONTACT_EMAIL=info@example.com
CONTACT_MAP_EMBED_URL=https://www.google.com/maps
